.container {
  padding: 20px 90px;
  /* padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 90px;
  padding-right: 90px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column .title {
  font-size: 62px;
  font-family: "Arial";
  font-weight: bold;
}
.column .sub-title {
  font-size: 36px;
  font-family: "Arial";
}
.column .btn-contact {
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  background: black;
  border-radius: 8px;
  border: none;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 130px;
  transition: 0.8s ease;
}

.column .btn-contact:hover {
  background: #1da1f2;
  transform: translateY(-10px);
  cursor: pointer;
}

.column .background {
  width: 85%;
}
.column .social-media img {
  margin-right: 30px;
  transition: 0.4s ease;
}
.column .social-media img:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.about {
  padding: 50px 200px;
}

.about h2 {
  text-align: center;
  font-weight: bold;
  font-family: "Arial";
  font-size: 32px;
}
.about p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.4;
  color: rgb(80, 80, 80);
  font-family: "Arial";
}

.gallery {
  padding: 50px 100px;
}

.gallery h3 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-family: "Arial";
}

.gallery .images {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.gallery .images img {
  margin-right: 30px;
  transition: 0.4s ease-out;
}

.gallery .images img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
